/* 
 * remove from watchlist button
 */

remove-watchlist-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 44px;
  min-width: 44px;
}

remove-watchlist-button > button {
  background-color: #e11d48;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  min-height: 44px;
  min-width: 44px;
}

remove-watchlist-button > button:active {
  color: inherit;
}

remove-watchlist-button > button {
  color: #ffffff;
}

@media screen and (min-width: 992px) {
  remove-watchlist-button > button {
    font-size: 20px;
    padding: 1rem;
  }
}
